<%= form_for(@favorite_site) do |f| %>
  <% if @favorite_site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@favorite_site.errors.count, "error") %> prohibited this favorite_site from being saved:</h2>

      <ul>
      <% @favorite_site.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :sitename %><br />
    <%= f.text_field :sitename %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
