<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @favorite_site.user_id %>
</p>

<p>
  <b>Sitename:</b>
  <%= @favorite_site.sitename %>
</p>

<p>
  <b>Url:</b>
  <%= @favorite_site.url %>
</p>


<%= link_to 'Edit', edit_favorite_site_path(@favorite_site) %> |
<%= link_to 'Back', favorite_sites_path %>
